@import "tailwindcss";

body {
  padding: 0;
}

@theme {
  --text-grey-1: #f2f0f1;
}

@layer utilities {
  .layout-container {
    @apply py-3 px-5 md:px-15 lg:px-25 w-dvw;
  }
  .flex-center {
    @apply items-center flex justify-center;
  }
  .divide {
    @apply h-[0.2px] bg-black w-full opacity-50;
  }

  .browse_card {
    @apply mb-[20px] relative rounded-[20px] h-[289px] w-full bg-white;
  }
  .browse_card h3 {
    @apply absolute top-[30px] left-[30px] text-[36px] font-extrabold;
  }
  .browse_card img {
    @apply h-full ml-auto rounded-[20px];
  }
}
